.categories {
  display: flex;
  position: relative;
  top: -60px;
  border-radius: 0.75rem;
}

.category {
  width: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
}

.category:hover {
  background-color: rgb(239, 242, 241);
}

.minText {
  font-size: 0.9rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.image{
  width: 72px;
  height: 58px;
}

@media (max-width: 768px) {
  .categories {
    top: -20px;
  }

  .category {
    width: 5.5rem;
    padding: 0.5rem 0.25rem;
  }

  .minText{
    font-size: 0.5rem;
    margin-top: 0.25rem;
  }

  .image{
    width: 36px;
    height: 29px;
  }
}