.contact_form{
    border: 1px solid lightgray;
    width: 85vw;
    margin-top: 5rem;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
}

.left{
    width: 70%
}

.body{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.heading{
    font-size: 1.6rem;
}

.form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: flex-start;
}

.label{
    font-size: 1.1rem;
}

.input , .textarea , .options{
    padding: 0.6rem;
    border: 1px solid lightgray;
    width: 90%;
}

.textarea{
    resize: none;
    height: 10rem;
}

#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn{
    background-color: #00aaff;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.7rem;
    font-weight: 500;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    width: 10rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.btn:hover{
    background-color: #0085ff;
}

.options{
    padding: 0.6rem;
    border: 1px solid lightgray;
}

.option{
    text-align: left;
}

.inputs{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input , .textarea , .options{
    margin-bottom: 1rem;
}

.captcha{
    width: 45%;
}

.whatsapp{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (max-width: 1300px){
    .right{
        display: none;
    }

    .left{
        width: 100%;
    }
}

@media (max-width: 738px){
    .form{
        flex-direction: column;
    }

    .inputs{
        width: 100%;
    }

    .label{
        font-size: 0.9rem;
    }

    .input , .textarea , .options{
        width: 100%;
        height: 2.5rem;
        font-size: 0.75rem;
    }

    .textarea{
        height: 5rem;
    }

    .contact_form{
        width: 95vw;
        margin-top: 3rem;
    }
}