.contactCard {
    width: 75vw;
    background-color: #fff;
    box-shadow: var(--shadow);
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-size: 1.8rem;
    color: #1f1c1c;
    margin-bottom: 1.5rem;
}

.label {
    font-weight: bold;
    color: #1f1c1c;
    margin-bottom: 0.5rem;
}

.p {
    color: #1f1c1c;
    margin-bottom: 0.5rem;
}