.cover{
    height: 25vh;
    background-image: url(/cover5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.name{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 7rem;
}