.cover{
    height: 45vh;
    background-image: url(/cover4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.profile_pic{
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 28vh;
}

.name{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 7rem;
}