.deleteBox{
    width: 36rem;
    height: 16rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    font-size: 1.2rem;
}

.btns{
    color: white;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    letter-spacing: 1px;
}

.yes{
    height: 3rem;
    width: 12rem;
    border-radius: 1rem;
    background-color: #44ce64;
    box-shadow: var(--shadow);
}

.yes:hover{
    background-color: #3ec55d;
}

.no{
    height: 3rem;
    width: 12rem;
    border-radius: 1rem;
    background-color: #ff4949;
    box-shadow: var(--shadow);
}

.no:hover{
    background-color: #ff3b3b;
}