.details{
    width: 60%;
    background-color: #f3f3f3;
    margin-top: 0.25rem;
    box-shadow: var(--shadow);
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}