.details{
    width: 60%;
    background-color: #f3f3f3;
    margin-top: 0.25rem;
    box-shadow: var(--shadow);
    background-color: white;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1080px){
    .details{
        width: 80%;
    }
}