.explore{
    background-color: #ffffff;
}

.body{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sidebar{
    width: 20%;
    box-shadow: var(--shadow);
    background-color: white;
    padding: 1.4rem;
}

.main{
    box-shadow: var(--shadow);
    background-color: white;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    min-height: 105vh;
}

.search{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.footer{
    display: flex;
    justify-content: center;
}

/* navigations */

.nav{
    height: 10rem;
    display: flex;
    justify-content: center;
}

.pages{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.page{
    height: 2rem;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn{
    border: 1px solid black;
    padding: 0.25rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

@media (max-width: 1400px){
    .main{
        width: 70%;
    }

    .sidebar{
        width: 30%;
    }
}

@media (max-width: 1200px){
    .main{
        width: 60%;
    }

    .sidebar{
        width: 60%;
    }
}