.explore{
    background-color: #ffffff;
}

.body{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.sidebar{
    width: 15%;
    box-shadow: var(--shadow);
    background-color: white;
    padding: 1.4rem;
}

.main{
    box-shadow: var(--shadow);
    background-color: white;
    padding: 1.4rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.footer{
    display: flex;
    justify-content: center;
}

/* navigations */

.nav{
    height: 10rem;
    display: flex;
    justify-content: center;
}

.pages{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.page{
    height: 2rem;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn{
    border: 1px solid black;
    padding: 0.25rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

#current{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}