.body {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
}

.content {
    display: flex;
    width: 90vw;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.categories {
    width: 32%;
    padding-left: 4rem;
}

.qnas {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.55rem;
    font-weight: 400;
}

.heading {
    font-size: 2.8rem;
    font-weight: 700;
}

.subHeading {
    font-size: 1.2rem;
    color: #7c7c7c;
}

.top {
    font-size: 1.55rem;
}

.lists {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #ededed 1px solid;
}

#generalTab {
    cursor: pointer;
}

#privacyTab {
    cursor: pointer;
}

#servicesTab {
    cursor: pointer;
}

.summary{
    display: inline;
    cursor: pointer;
}

.details{
    font-size: 1.2rem;
    color: #7c7c7c;
    margin-top: 1rem;
}

.container{
    width: 90%;
    text-align: center;
}

.active{
    display: block;
    color: #00aaff;
}

@media (max-width: 1100px){
    .content{
        width: 100vw;
        justify-content: space-evenly;
    }
}

@media (max-width: 800px){
    .heading{
        font-size: 1.4rem;
    }

    .subHeading{
        font-size: 0.8rem;
    }

    .top {
        font-size: 0.75rem;
    }

    .details{
        font-size: 0.75rem;
    }

    .summary{
        font-size: 0.75rem;
    }

    .lists{
        font-size: 0.65rem;
        flex-direction: row;
        width: 80vw;
        margin-bottom: 1rem;
    }

    .icon{
        font-size: 0.75rem;
    }

    .categories{
        width: 100%;
        padding-left: 2rem;
    }

    .qnas{
        width: 80vw;
    }

    .qnas li{
        font-size: 1rem;
    }

    .divider{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .content{
        /* width: 100vw;
        justify-content: space-between; */
        flex-direction: column;
        align-items: center;
    }
}