.body {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    width: 90vw;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.categories {
    width: 32%;
}

.qnas {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.55rem;
    font-weight: 400;
}

.heading {
    font-size: 2.8rem;
    font-weight: 700;
}

.subHeading {
    font-size: 1.2rem;
    color: #7c7c7c;
}

.top {
    font-size: 1.55rem;
}

.lists {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #ededed 1px solid;
}

#generalTab {
    cursor: pointer;
}

#privacyTab {
    cursor: pointer;
}

#servicesTab {
    cursor: pointer;
}

.summary{
    display: inline;
    cursor: pointer;
}

.details{
    font-size: 1.2rem;
    color: #7c7c7c;
    margin-top: 0.5rem;
}

.container{
    width: 90%;
    text-align: center;
}

.active{
    display: block;
    color: #00aaff;
}