.feature_card {
  width: 24%;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
    font-size: 1.5rem;
    font-weight: 600;
}