.footer{
    background-color: rgb(255, 255, 255);
    width: 95vw;
    max-width: 1640px;
    margin: auto;
    margin-bottom: 1rem;
    color: black;
}

.upper , .lower{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about , .help , .law , .socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.heading{
    font-size: 1.1rem;
}

.subHeading{
    cursor: pointer;
    color: rgb(116, 107, 107);
}

.divider{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: rgb(210, 197, 197) 1px solid;
}

.logo{
    font-size: 2.15rem;
}

.lower{
    align-items: center;
    padding-bottom: 2rem !important;
}

.copyri8{
    font-size: 0.9rem;
    position: relative;
    top: 0.3rem;
}

.socials{
    display: flex;
    flex-direction: row;
}

.social{
    cursor: pointer;
    opacity: 0.9;
}

.social:hover{
    opacity: 1;
}

.company{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.google_play{
    cursor: pointer;
}

.app_store{
    cursor: pointer;
}

#socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 730px) {
    .footer{
        width: 85vw;
    }

    .upper{
        gap: 1rem;
        font-size: 0.75rem;
        justify-content: center;
    }

    .heading{
        font-size: 0.9rem;
    }

    .about , .help , .law , .socials{
        gap: 1.5rem;
    }

    .lower{
        flex-direction: column;
        gap: 2rem;
    }

    .company{
        flex-direction: column;
        gap: 1rem;
    }

    .app{
        flex-direction: column;
        gap: 1rem;
    }
}