.footer{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 1640px;
    margin: auto;
    color: black;
    letter-spacing: 0.5px;
    padding: 2.5rem;
}

.upper , .lower{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about , .help , .law , #socials {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.heading{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.subHeading{
    cursor: pointer;
    color: rgb(116, 107, 107);
    margin-bottom: 1rem;
}

#subTerm{
    display: inline-block;
}

.divider{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: rgb(210, 197, 197) 1px solid;
}

.logo{
    font-size: 2.15rem;
}

.lower{
    align-items: center;
}

.copyri8{
    font-size: 0.9rem;
    position: relative;
    top: 0.3rem;
}

.socials{
    display: flex;
    flex-direction: row;
}

.social{
    cursor: pointer;
    opacity: 0.9;
}

.social:hover{
    opacity: 1;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 32%;
}

.app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 24%;
}

.google_play{
    cursor: pointer;
}

.app_store{
    cursor: pointer;
}

.socials{
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    width: 24%;
}

@media (max-width: 1200px){
    .company{
        width: 38%;
    }

    .app{
        width: 30%;
    }

    .socials{
        width: 30%;
    }
}

@media (max-width: 730px) {
    .footer{
        width: 90vw;
        padding: 1rem;
    }

    .upper{
        font-size: 0.75rem;
    }

    .heading{
        font-size: 0.9rem;
    }

    .lower{
        flex-direction: column;
        height: 16rem;
        justify-content: space-between;
    }

    .company{
        flex-direction: column;
        width: 100%;
    }

    .app{
        width: 100%;
    }

    .socials{
        width: 100%;
    }

    .about{
        margin-bottom: 2.5rem;
    }

    .law{
        margin-bottom: 2.5rem;
    }

    .copyri8{
        font-size: 0.75rem;
    }
}