.header {
  background-image: url(/img2.jpg);
  height: 75vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14rem;
}

.headingText {
  font-size: 2.75rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.subText {
  font-size: 1.5rem;
}

.colorx{
  color: var(--primaryx-color);
}