.navbar {
    height: 3.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-position: center;
    z-index: 105;
    transition: 0.3s;
}

.left {
    width: 45%;
    text-align: left;
    padding: 5px;
    margin-left: 2rem;
}

.logo {
    padding-left: 1rem;
}

.right {
    width: 30%;
    margin-right: 1rem;
}

.navigations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 3.5rem;
}

.navElement:hover {
    cursor: pointer;
}

.login {
    padding-top: 0.35rem;
    padding-bottom: 0.45rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.login:hover {
    background-color: var(--primaryx-color);
}

#noUnderline {
    border: none;
}

.navElement {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    padding: 0.4rem;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.5px;
}

.navElement:hover {
    border-bottom: 3px solid white;
}

/* drop downs */

.dropDown {
    background-color: var(--primary-color);
    height: auto;
    width: 36rem;
    position: absolute;
    top: 3rem;
    left: -22.25rem;
    display: none;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dropDown:hover {
    cursor: default;
}

.optionBox {
    height: auto;
    width: 15rem;
    padding: 1rem;
    padding-top: 0.4rem;
    border-radius: 0.5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.optionBox:hover {
    cursor: pointer;
    background-color: var(--primaryx-color);
}

.subText {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0;
    color: rgb(188, 188, 188);
}

.mainText{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0.1rem;
}

.profile_card{
    width: 20rem;
    background-color: var(--primary-color);
    border-radius: 15px;
    position: absolute;
    top: 3rem;
    left: -13.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem;
    box-shadow: var(--shadow);
    height: 23rem;
    justify-content: space-evenly;
}

.dp{
    border-radius: 50%;
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
}

.name{
    font-size: 1.2rem;
    color: white;
}

.btn{
    padding: 0.45rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
    width: 80%;
    text-align: center;
}

#user{
    width: auto;
    word-break: normal;
}

.number{
    color: #c7c7c7;
    margin-top: -0.75rem;
    font-size: 0.9rem;
}

#home{
    position: relative;
    left: 4px;
}

.fipezo{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.5px;
}

@media (max-width: 1100px) {
    .left {
        width: 35%;
    }

    .navElement {
        font-size: 0.9rem;
    }

    .right {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .navElement {
        font-size: 0.7rem;
    }

    .login {
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        font-size: 0.7rem;
    }

    .dp{
        height: 75px;
        width: 75px;
    }

    .name{
        font-size: 1rem;
    }

    .number{
        font-size: 0.7rem;
    }

    .profile_card{
        width: 15rem;
        left: -10rem;
    }

    .fipezo{
        font-size: 1.5rem;
    }

    .navigations{
        justify-content: space-between;
    }

    .left{
        width: 25%;
        margin-left: 0.2rem;
    }

    .right{
        width: 75%;
        padding-right: 1rem;
        margin-right: 0.4rem;
    }

    .navigations{
        height: 3rem;
    }

    .dropDown{
        width: 15rem;
        left: -8rem;
        padding: 1rem;
    }

    .mainText{
        font-size: 0.9rem;
    }

    .subText{
        font-size: 0.65rem;
    }

    .login{
        position: relative;
    }

    .profile_card{
        height: 18rem;
        padding: 0.45rem;
    }
}