.portfolio_card{
    height: 12rem;
    width: 16rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
}

@media (max-width: 768px){
    .portfolio_card{
        height: 8rem;
        width: 9rem;
    }
}