.portfolio_card{
    height: 18rem;
    width: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px dashed lightgray;
    box-shadow: var(--shadow);
}