.profileCard {
    border: 1px solid rgb(205, 193, 193);
    width: 22rem;
    height: 20.75rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    transition: 0.35s ease-in-out;
}

.image {
    box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 20px;
    object-fit: cover;
    height: 3.5rem;
    width: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name {
    color: #221e3b;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.bio {
    font-size: 0.9rem;
    color: rgb(145, 124, 124);
    text-align: left;
    margin-bottom: 2rem;
    height: 2.65rem;
    overflow: hidden;
    margin-top: 0.5rem;
}

.category {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.logo {
    font-size: 1.5rem;
}

.cover {
    height: 6rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5rem;
}

.rate {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
}

.blueTick {
    display: inline;
    position: relative;
    left: -1.25rem;
    top: 1px;
}

/* right */

.right {
    position: absolute;
    right: 2rem;
    top: 144px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.rating {
    background-color: rgb(37, 190, 37);
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.noOfReviews {
    color: rgb(145, 124, 124);
}

.num {
    font-size: 0.8rem;
}

.tag{
    background-color: #ff385b;
    background-color: #714ffc;
    color: white;
    padding: 0.2rem 0.75rem;
    border-radius: 5px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    width: 60%;
    font-weight: 350;
    box-shadow: var(--shadow);
}

/* @media (max-width: 738px) {
    .profileCard {
        width: 10rem;
        height: auto;
    }

    .name{
        font-size: 0.65rem;
    }

    .logo{
        font-size: 0.5rem;
    }

    .bio{
        font-size: 0.55rem;
        margin-bottom: 0.25rem;
    }

    .category{
        font-size: 0.45rem;
        padding: 0;
        gap: 0.5rem;
    }

    .rate {
        font-size: 0.45rem;
        padding: 0.15rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .cover{
        height: 2.5rem;
    }

    .image{
        height: 2.5rem;
        width: 2.5rem;
        top: 35px;
    }

    .rating{
        padding: 0.2rem 0.6rem;
        font-size: 0.6rem;
    }

    .right{
        top: 118px;
    }

    .blueTick{
        height: 0.75rem;
        width: 1.25rem;
    }
} */