.profileCard{
    border: 1px solid rgb(205, 193, 193);
    width: 22rem;
    height: 20rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    transition: 0.35s ease-in-out;
}

/* .profileCard:hover{
    transform: scale(1.05);
} */

.image{
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 20px;
}

.name{
    color: #221e3b;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.bio{
    font-size: 0.9rem;
    color: rgb(145, 124, 124);
    text-align: left;
    margin-bottom: 2rem;
}

.category{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    font-size: 1rem;
}

.logo{
    font-size: 1.5rem;
}

.cover{
    height: 6rem;
    background-size: cover;
    background-position: center;
}

.rate{
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.85rem;
}

.blueTick{
    display: inline;
    position: relative;
    left: -1rem;
    top: 1.5px;
}