.profile_bio_card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_pic{
    border-radius: 50%;
    position: relative;
    margin-top: -7rem;
    box-shadow: var(--shadow);
    height: 14rem;
    width: 14rem;
    object-fit: cover;
    border: 1px solid #ffffff;
}

.name{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    background-color: white;
    padding: 1rem;
    box-shadow: var(--shadow);
    width: 90%;
}

.bio{
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    padding: 0 1rem;
    color: #aea9a9;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    box-shadow: var(--shadow);
    width: 90%;
    border: 1px solid #e2e8f0;
}

.equipment_available{
    background-color: white;
    padding: 2rem;
    box-shadow: var(--shadow);
    padding-top: 1rem;
    width: 90%;
}

.title{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.equipment{
    color: #aea9a9;
}

.location{
    font-size: 0.8rem;
}