.profile{
    background-color: #f3f3f3;
}

.name{
    color: green;
    font-size: 1rem;
}

.profile_details{
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 4rem;
}

.btnBox{
    position: relative;
    top: -2.5rem;
    border: 1px solid lightgray;
    height: 5rem;
    width: 12.5rem;
    left: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    gap: 0.75rem;
}

.btn {
    background-color: #3fcc76;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    width: 50%;
    text-align: center;
}

.btn:hover {
    background-color: #30ab60;
}

#msg{
    background-color: white;
    color: black;
    border: 1px solid rgb(102, 102, 102);
}

#msg:hover{
    background-color: rgb(241, 241, 241);
}

#logout{
    background-color: white;
    color: black;
    border: 1px solid rgb(102, 102, 102);
    cursor: pointer;
}

#logout:hover{
    background-color: rgb(241, 241, 241);
}

#boxContainer{
    position: absolute;
    left: -26.5rem;
    top: -6rem;
    width: 40rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

#boxContainer2{
    position: absolute;
    left: -36.5rem;
    top: -11.5rem;
    width: 40rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

#boxContainer2{
    position: absolute;
    left: -36.5rem;
    top: -11.5rem;
    width: 40rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    box-shadow: var(--shadow);
    border-radius: 5px;
}