.features{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 2rem;
    max-width: 1800px;
}

.texts{
    color: #626262;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-blue);
}

.heading{
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #626262;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--shadow);
}

.btn:hover{
    color: var(--primary-color);
    background-color: white;
}

.btn > h1{
    margin-bottom: 1rem;
    width: 80%;
}

.p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .btn{
        font-size: 0.9rem;
        padding: 1rem 1.5rem;
    }

    .image{
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 940px) {
    .image{
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 720px) {
    .image{
        width: 50%;
        height: 50%;
    }

    .btn > h1{
        font-size: 0.7rem;
        width: 100%;
        margin-bottom: 0;
    }

    .p{
        display: none;
    }
}

@media (max-width: 600px) {
    .features{
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    .container{
        width: 100%;
    }

    .btns{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .btn{
        font-size: 0.65rem;
        padding: 0.85rem 0.85rem;
    }

    .image{
        width: 75%;
        height: 75%;
        margin-bottom: 2rem;
    }
}