.suggestions{
    font-size: 1rem;
    text-align: left;
    margin-top: 0.6rem;
}

.link{
    color: white;
    border-bottom: 1px solid white;
    font-size: 0.80rem;
}

.searchMain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.location{
    background-color: white;
    height: 3rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.95rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    position: relative;
    box-shadow: var(--shadow);
    letter-spacing: 1px;
}

.arrow{
    cursor: pointer;
}

.dropDown{
    background-color: #ffffff;
    position: absolute;
    top: 3.2rem;
    left: 0;
    padding: 1rem;
    width: 12rem;
    border-radius: 0.5rem;
    display: none;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
}

.p{
    letter-spacing: 0.5px;
}