.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox{
    margin-right: 0.5rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
    letter-spacing: 0.5px;
}

#optionx{
    border: 1px solid lightgrey;
}

.select{
    width: 100%;
    padding: 0.25rem;
}

.title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.checkbox {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.inputs {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 0.8rem;
    cursor: pointer;
}

.divider {
    border: #ededed 1px solid;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    margin-right: 10px;
    border-radius: 6px;
    outline: 0;
    background: var(--primary-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: var(--primary-blue);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.rate {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.star{
    position: relative;
    bottom: 2px;
}

.cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cont > .label{
    margin-left: 0.5rem;
}

#labelid{
    display: flex;
    align-items: center;
}

#selected{
    background-color: #f1f1f1;
}

@media (max-width: 738px){
    .sidebar{
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .slider::-webkit-slider-thumb{
        height: 10px;
        width: 10px;
    }

    .filter{
        justify-content: flex-start;
    }

    .label{
        font-size: 0.45rem;
    }

    .checkbox{
        width: auto;
        height: auto;
    }

    .title{
        font-size: 0.55rem;
    }

    .rate{
        font-size: 0.45rem;
    }

    .slider{
        font-size: 0.55rem;
        width: 3rem;
    }

    .arrow {
        font-size: 0.55rem;
    }

    .star{
        font-size: 0.5rem !important;
    }

    .select{
        font-size: 0.55rem;
    }

    #optionx{
        width: 4rem;
    }
}