.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
}

.title {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.checkbox {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.inputs {
    display: flex;
    gap: 0.5rem;
}

.arrow {
    font-size: 0.8rem;
    cursor: pointer;
}

.divider {
    border: #ededed 1px solid;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    margin-right: 10px;
    border-radius: 6px;
    outline: 0;
    background: var(--primary-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: var(--primary-blue);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
  }

  .rate{
    font-size: 1.1rem;
    padding: 0.5rem;
  }