.login{
    text-align: center;
    background-image: url(/bg10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.form{
    background-color: #161616;
    height: 38rem;
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    padding: 2rem;
    padding-top: 7rem;
    font-size: 1.5rem;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    color: white;
    align-items: center;
}

.presentation{
    background-color: white;
    height: 38rem;
    width: 38rem;
    margin-top: 4rem;
    padding: 3rem;
    font-size: 1.3rem;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
}

.inputs{
    background-color: var(--primary-color);
    outline: none;
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 0.25rem;
    background-color: transparent;
}

.labels{
    color: white;
    padding: 0.25rem;
}

.btn{
    background-color: #00aaff;
    color: white;
    font-size: 1rem;
    padding: 0.7rem;
    font-weight: 500;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    width: 10rem;
}

.btn:hover{
    background-color: #055882;
}

.heading{
    font-size: 2rem;
}

.subHeading{
    font-size: 0.95rem;
    opacity: 0.7;
}

#name{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#phone{
    display: flex;
    gap: 1rem;
    align-items: center;
}