.verificationCard{
    border: 1px solid black;
    width: 85%;
    padding: 1rem;
    padding-top: 0;
    border-radius: 5px;
    display: flex;
    gap: 2rem;
}

.details{
    width: 40%;
}

.image{
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    border-radius: 50%;
    object-fit: cover;
    height: 6.5rem;
    width: 6.5rem;
    border: 1px solid white;
    position: relative;
    top: -3.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover{
    height: 6rem;
    background-size: cover;
    background-position: center;
}

.profileImg{
    display: flex;
    justify-content: center;
}

.fields{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.field{
    border: 1px solid rgb(130, 130, 130);
    padding: 0.5rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.card{
    border: 1px solid rgb(130, 130, 130);
    padding: 0.75rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
}

.works{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.work{
    border: 1px solid rgb(190, 108, 108);
    padding: 0.75rem;
    box-shadow: 0 6px 27px 0 rgba(219, 206, 206, 0.08);
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
}

.socials{
    display: flex;
    position: relative;
    top: -2rem;
    gap: 0.5rem;
}

.social{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: var(--shadow);
}

.right{
    width: 58%;
    display: flex;
    flex-direction: column;
}

.screen{
    height: 90%;
    padding: 1rem;
    border: 1px solid lightgray;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btns{
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.btn{
    border: 1px solid rgb(203, 203, 203);
    color: white;
    padding: 0.5rem;
    width: 20%;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

#verify{
    background-color: #2bd26c;
}

#delete{
    background-color: #f52625;
}