.verified {
    display: flex;
    width: 90%;
    border-radius: 60px;
    background-image: url('/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 4rem 2rem;
    justify-content: space-between;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.4);
    max-width: 1640px;
    margin-bottom: 8rem;
    margin-top: 6rem;
}

.text {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1rem 0 0 1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.btn {
    margin: 1rem 0 0 1rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    height: 3rem;
    color: black;
    transition: 0.3s;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: var(--primary-color);
    color: white;
}

#arrow {
    color: var(--primary-var);
    font-weight: 900;
    font-size: 1.2rem;
    position: relative;
    top: 1px;
    transition: font-size 0.3s;
}

.btn:hover #arrow {
    font-size: 1.25rem;
}

@media (max-width: 1170px) {
    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
    }

    .image{
        display: none;
    }

    .text{
        width: 75%;
        justify-content: center;
    }

    .verified{
        padding: 2rem;
        border-radius: 20px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 0.85rem;
    }

    .btn{
        font-size: 0.6rem;
        padding: 0rem 0.75rem;
        height: 2.5rem;
    }

    .verified{
        padding: 1.5rem;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .text{
        width: 90%;
        gap: 0.5rem;
    }
}